<div >
        <div class="container">
          <div class="owl-carousel owl-theme" style="border-radius:5px;box-shadow:2px 2px 20px #000;margin-bottom:5%" >
            <div class="item sep-top-lg"><img src="img/galeria/afiche1.jpg" alt="" class="img-responsive"></div>
            <div class="item sep-top-lg"><img src="img/galeria/afiche2.jpg" alt="" class="img-responsive"></div>
            <div class="item sep-top-lg"><img src="img/galeria/afiche3.jpg" alt="" class="img-responsive"></div>
            <div class="item sep-top-lg"><img src="img/galeria/afiche4.jpg" alt="" class="img-responsive"></div>
            <div class="item sep-top-lg"><img src="img/galeria/afiche5.jpg" alt="" class="img-responsive"></div>
            <div class="item sep-top-lg"><img src="img/galeria/afiche1.jpg" alt="" class="img-responsive"></div>
            <div class="item sep-top-lg"><img src="img/galeria/afiche2.jpg" alt="" class="img-responsive"></div>
            <div class="item sep-top-lg"><img src="img/galeria/afiche3.jpg" alt="" class="img-responsive"></div>
            <div class="item sep-top-lg"><img src="img/galeria/afiche4.jpg" alt="" class="img-responsive"></div>
          </div>
        </div>
      </div>
<section class="widget_products sep-top-2x">
        <div class="container">
          <div class="row" style="margin-top:3%">
            <div class="col-md-6" >
              <h5 class="widget-title-bordered upper">ARCHIVOS</h5>
              <div class="row">
                <div class="col-md-6">
                  <ul class="widget widget-media sep-bottom-lg">
                    <li class="media media-bordered"><a href="#" class="pull-left"><img src="img/team/square/pdf.png" alt="Heaven White Shirt" width="82" height="100" class="img-responsive"></a>
                      <div class="media-body"><small class="upper">ENTRE RIOS</small>
                        <h6 class="media-heading"><a href="#">Lugar pacifico</a></h6>
                        <div class="product-detail">
                          <div class="rate"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        </div>
                      </div>
                    </li>
                    <li class="media media-bordered"><a href="#" class="pull-left"><img src="img/team/square/pdf.png" alt="Robert jacket" width="82" height="100" class="img-responsive"></a>
                      <div class="media-body"><small class="upper">ENTRE RIOS</small>
                        <h6 class="media-heading"><a href="#">Lugar pacifico</a></h6>
                        <div class="product-detail">
                          <div class="rate"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                          
                        </div>
                      </div>
                    </li>
                    <li class="media media-bordered"><a href="#" class="pull-left"><img src="img/team/square/pdf.png" alt="Woman's Purse" width="82" height="100" class="img-responsive"></a>
                      <div class="media-body"><small class="upper">ENTRE RIOS</small>
                        <h6 class="media-heading"><a href="#">Lugar pacifico</a></h6>
                        <div class="product-detail">
                          <div class="rate"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                          
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="widget widget-media sep-bottom-lg">
                    <li class="media media-bordered"><a href="#" class="pull-left"><img src="img/team/square/pdf.png" alt="Sunny Tank Selected Femme" width="82" height="100" class="img-responsive"></a>
                      <div class="media-body"><small class="upper">ENTRE RIOS</small>
                        <h6 class="media-heading"><a href="#">Lugar pacifico</a></h6>
                        <div class="product-detail">
                          <div class="rate"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                         
                        </div>
                      </div>
                    </li>
                    <li class="media media-bordered"><a href="#" class="pull-left"><img src="img/team/square/pdf.png" alt="Dublin Blue Shirt" width="82" height="100" class="img-responsive"></a>
                      <div class="media-body"><small class="upper">ENTRE RIOS</small>
                        <h6 class="media-heading"><a href="#">Lugar pacifico</a></h6>
                        <div class="product-detail">
                          <div class="rate"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                          
                        </div>
                      </div>
                    </li>
                    <li class="media media-bordered"><a href="#" class="pull-left"><img src="img/team/square/pdf.png" alt="Woman's Jeans" width="82" height="100" class="img-responsive"></a>
                      <div class="media-body"><small class="upper">ENTRE RIOS</small>
                        <h6 class="media-heading"><a href="#">Lugar pacifico</a></h6>
                        <div class="product-detail">
                          <div class="rate"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                       
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h5 class="widget-title-bordered upper">CONVOCATORIAS</h5>
              <div class="row">
                <div class="col-md-6">
                  <ul class="widget widget-media sep-bottom-lg">
                    <li class="media media-bordered"><a href="#" class="pull-left"><img src="img/team/square/pdf.png" alt="Woman's Purse" width="82" height="100" class="img-responsive"></a>
                      <div class="media-body"><small class="upper">ENTRE RIOS</small>
                        <h6 class="media-heading"><a href="#">Lugar pacifico</a></h6>
                        <div class="product-detail">
                          <div class="rate"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        </div>
                      </div>
                    </li>
                    <li class="media media-bordered"><a href="#" class="pull-left"><img src="img/team/square/pdf.png" alt="Sunny Tank Selected Femme" width="82" height="100" class="img-responsive"></a>
                      <div class="media-body"><small class="upper">ENTRE RIOS</small>
                        <h6 class="media-heading"><a href="#">Lugar pacifico</a></h6>
                        <div class="product-detail">
                          <div class="rate"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                          
                        </div>
                      </div>
                    </li>
                    <li class="media media-bordered"><a href="#" class="pull-left"><img src="img/team/square/pdf.png" alt="Woman's Jeans" width="82" height="100" class="img-responsive"></a>
                      <div class="media-body"><small class="upper">ENTRE RIOS</small>
                        <h6 class="media-heading"><a href="#">Lugar pacifico</a></h6>
                        <div class="product-detail">
                          <div class="rate"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                         
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="widget widget-media sep-bottom-lg">
                    <li class="media media-bordered"><a href="#" class="pull-left"><img src="img/team/square/pdf.png" alt="Robert jacket" width="82" height="100" class="img-responsive"></a>
                      <div class="media-body"><small class="upper">ENTRE RIOS</small>
                        <h6 class="media-heading"><a href="#">Lugar pacifico</a></h6>
                        <div class="product-detail">
                          <div class="rate"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        </div>
                      </div>
                    </li>
                    <li class="media media-bordered"><a href="#" class="pull-left"><img src="img/team/square/pdf.png" alt="Dublin Blue Shirt" width="82" height="100" class="img-responsive"></a>
                      <div class="media-body"><small class="upper">ENTRE RIOS</small>
                        <h6 class="media-heading"><a href="#">Lugar pacifico</a></h6>
                        <div class="product-detail">
                          <div class="rate"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        </div>
                      </div>
                    </li>
                    <li class="media media-bordered"><a href="#" class="pull-left"><img src="img/team/square/pdf.png" alt="Osaka Men's Shirt" width="82" height="100" class="img-responsive"></a>
                      <div class="media-body"><small class="upper">ENTRE RIOS</small>
                        <h6 class="media-heading"><a href="#">Lugar pacifico</a></h6>
                        <div class="product-detail">
                          <div class="rate"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                          
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>