<div class="form">
   <form role="form"  name="form">
   <h3><b>{{lblTitle}}</b></h3>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="titulo">Titulo:</label>
        <input type="text" class="form-control" id="titulo" ng-model="Convocatoria.titulo">
      </div>
      <div class="form-group col-md-3">
      <label for="fecha">Fecha:</label>
        <input type="date" class="form-control" id="fecha" ng-model="Convocatoria.fecha">
      </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="archivosConvocatoria" >Agregar Imagen/Archivo:</label>
            <input type="file" class="form-control" ngf-select ng-model="archivosConvocatoria" ngf-multiple="true"  name="archivosConvocatoria"/>
        </div>
    </div>
    Imagenes/Archivos cargados:<br>
    <div class="row" >
      <div ng-repeat="value in archivosConvocatoria track by $index" class="cardFile">
          <div ng-show="isImage(value.name)">
          <a href="{{value}}" >
          <img ngf-src="value" class="fileApp" alt="" ></a><br>
            <div class="btnEliminarImg">
              <button class= "btn btn-warning btn-cancel" 
                ng-click="quitarImagen($index)">Cancelar</button> 
            </div>
          </div>
          <div ng-show="isOffice(value.name)">
          <a href="{{value.name}}" >
          <img src="{{getTypeOffice(value.name)}}" class="fileApp" alt="" >
          </a><br>
            <div class="btnEliminarImg">
              <button class= "btn btn-warning btn-cancel" 
                ng-click="quitarImagen($index)">Cancelar</button>
            </div>
          </div>
          <div ng-show="isVideo(value.name)">
          <a href="{{value.name}}" target="_blank">
          <video controls ngf-src="value.name"  class="fileApp"></video>
          </a><br>
            <div class="btnEliminarImg">
              <button class= "btn btn-warning btn-cancel" 
                ng-click="quitarImagen($index)">Cancelar</button>
            </div>
          </div>
          <div ng-show="isCompress(value.name)">
          <a href="{{value.name}}" >
          <img src="images/office/compress.png" class="fileApp" alt="">
          </a><br>
            <div class="btnEliminarImg">
              <button class= "btn btn-warning btn-cancel" 
                ng-click="quitarImagen($index)">Cancelar</button>
            </div>
          </div>
          <div ng-show="isPdf(value.name)">
          <a href="{{value.name}}" target="_blank">
          <img src="images/office/pdf.png" class="fileApp" alt="" ></a><br>
            <div class="btnEliminarImg">
              <button class= "btn btn-warning btn-cancel" 
                ng-click="quitarImagen($index)">Cancelar</button>
            </div>
          </div>
      </div>        

  	<div class="form-group">
  		<label for="descripcion">Descripcion:</label>
      	<!--<textarea id="descripcion" class="form-control" ng-model="Convocatoria.descripcion" style="height:300px;"></textarea>-->
        <textarea class="ck-editor" ng-model="Convocatoria.descripcion"style="height:400px" ></textarea>
    	</div>
      

    <button type="submit" class="btn btn-success" ng-click="saveEvent()">{{btnGuardar}}</button>
    
  </form>
  <div text-angular ng-model="htmlVariable"></div>
</div>