<div class="form">
<h3>{{lblTitle}}</h3>
   <form role="form" ng-submit="updateConvocatoria()">
    <div class="form-group">
    <label for="titulo">Titulo:</label>
    <input type="text" class="form-control" id="titulo" ng-model="Convocatoria.titulo">
  </div>
    <div class="form-group">
    <label for="fecha">Fecha:</label>
      <input type="text" class="form-control" id="fecha" value="{{Convocatoria.fecha | date:'MM/dd/yyyy'}}" ng-model="Convocatoria.fecha" >
    </div>
  <div class="form-group">
    <label for="descripcion">Descripcion:</label>
      <!--<textarea id="descripcion" class="form-control" ng-model="Convocatoria.descripcion" style="height:300px;"></textarea>-->
      <textarea class="ck-editor" ng-model="Convocatoria.descripcion"></textarea>
    </div>
   
    <div class="row">
        <button type="submit" class="btn btn-success">{{btnGuardar}}</button>
    </div>
  
</form>
</div>