<div class="sep-bottom-2x">
	<div class="container">
		<h2 style="text-align:center">EVENTOS</h2>
		<br>
		<div class="row eventCard" ng-repeat="(key, value) in listaEventos">
		<a ui-sref="home.event({id:value._id})" title="{{value.titulo | lowercase}}">
			<div class="span9">
			    <h4>{{value.titulo | uppercase}}</h4>

			    <div class="span5">
			    <span class="label label-default">{{value.fecha | date : "MM/dd/yyyy"}}</span>
						
						<div  class="lead" ng-bind-html="(value.descripcion | limitTo: Limit) +'...'"></div>
						<a class="btn btn-primary btn-xs" ui-sref="home.event({id:value._id})">Leer Mas</a>
					
			    </div>
			</div>
		</a>	
		</div>
	</div>
</div>
