




<div class="sep-bottom-2x">
        <div class="container">
            <h2 style="text-align:center">NOTICIAS</h2>
          <!-- Start Post-->
            <ul>
                <li ng-repeat="(key, value) in ListNoticia">
          <article id="post-0" class="sep-top-lg">
            <div class="row">
              


              <div role="contentinfo" class="col-md-3 sep-top-xs">
                <footer class="author-info"><a href="#" itemprop="author" class="post-author-link"><img src="img/team/square/1.jpg" alt="Michelle White" style="width:72px; height:72px;" class="img-circle img-responsive"></a>
                  <div class="author-info-content">
                    <h6 class="author-name">Michelle White</h6>
                    <time class="small">{{value.Fecha | date: 'dd-MM-yyyy'}}</time>
                  </div>
                </footer>
              </div>
              <div class="col-md-9 sep-top-xs">
                <header>
                  <h3 itemprop="headline" class="post-title"><a href="blog-detail.html" rel="bookmark" title="link to this post" itemprop="url" class="dark">{{value.Titulo}}</a></h3>
                  <time datetime="2009-10-22T14:28-08:00" itemprop="datePublished"></time>
                </header>
               
                
                <div class="post-image sep-top-md"><a title="" href="#"><img alt="" src="img/afiche1.jpg" itemprop="thumbnailUrl" class="img-responsive"></a></div>
                <div itemprop="articleBody" class="post-text sep-top-md">
                 <p style="color:black">{{value.Contenido}}</p>
                  
                </div>
                <div class="post-more sep-top-md"><button class="btn btn-primary btn-large" ng-click="VerMas({{value._id}})"> Ver Más</button></div>
              </div>
            
                    
        
                    </div>
          </article>
                </li>
            
            
            </ul>
           
          <!-- End Post-->
          <!-- start pagination-->
          <div class="sep-top-2x">
            <!-- start pagination-->
            <ul class="pager">
              <li class="previous hidden-xs"><a href="#"><i class="fa fa-arrow-left"></i>&nbsp;Atras</a></li>
              <li><a href="#">1</a></li>
              <li><span class="current">2</span></li>
              <li><a href="#">3</a></li>
              <li class="next disabled hidden-xs"><a href="#">Siguiente&nbsp;<i class="fa fa-arrow-right"></i></a></li>
            </ul>
            <!-- end pagination-->
          </div>
          <!-- end pagination-->
        </div>
      </div>


<aside id="sidebar" role="complementary" class="col-md-3 col-md-pull-9 sep-top-md sidebar">
              <!-- start sidebar-->
              <h5 class="widget-title upper sep-bottom-xs">Recent Posts</h5>
              <ul class="widget widget-media rounded sep-bottom-lg">
                <li class="media media-bordered clearfix"><a href="#" class="pull-left"><img src="img/blog1-t.jpg" alt="" class="media-object img-circle"></a>
                  <div class="media-body">
                    <h6 class="media-heading"><a href="#">Blanditiis Praesentium</a></h6><small>November 28, 2013</small>
                  </div>
                </li>
                <li class="media media-bordered clearfix"><a href="#" class="pull-left"><img src="img/blog2-t.jpg" alt="" class="media-object img-circle"></a>
                  <div class="media-body">
                    <h6 class="media-heading"><a href="#">Videos can help promote</a></h6><small>November 28, 2013</small>
                  </div>
                </li>
                <li class="media media-bordered clearfix"><a href="#" class="pull-left"><img src="img/blog4-t.jpg" alt="" class="media-object img-circle"></a>
                  <div class="media-body">
                    <h6 class="media-heading"><a href="#">Fermentum Hendrerit Libero</a></h6><small>November 28, 2013</small>
                  </div>
                </li>
                <li class="media media-bordered clearfix"><a href="#" class="pull-left"><img src="img/blog5-t.jpg" alt="" class="media-object img-circle"></a>
                  <div class="media-body">
                    <h6 class="media-heading"><a href="#">Saepe Eveniet Voluptates</a></h6><small>November 28, 2013</small>
                  </div>
                </li>
              </ul>
              <h5 class="widget-title upper sep-bottom-xs">Categories</h5>
              <ul class="widget widget-cat">
                <li class="cat-item"><a href="#" class="upper">Audio&nbsp;<span class="badge">15</span></a></li>
                <li class="cat-item"><a href="#" class="upper">Beautiful&nbsp;<span class="badge">15</span></a></li>
                <li class="cat-item"><a href="#" class="upper">Brand&nbsp;<span class="badge">7</span></a></li>
                <li class="cat-item"><a href="#" class="upper">Carousel&nbsp;<span class="badge">4</span></a></li>
                <li class="cat-item"><a href="#" class="upper">Creative&nbsp;<span class="badge">11</span></a></li>
              </ul>
              <!-- end sidebar-->
            </aside>