<ul>
<div class="sep-bottom-2x">
        <div class="container">
            <h2 style="text-align:center">NOTICIAS</h2>
          <!-- Start Post-->
            <ul>
                <li ng-repeat="(key, value) in ListNoticia">
          <article id="post-0" class="sep-top-lg">
            <div class="row">
              
              <div role="contentinfo" class="col-md-3 sep-top-xs">
                <footer class="author-info"><a href="#" itemprop="author" class="post-author-link"><img src="img/team/square/1.jpg" alt="Michelle White" style="width:72px; height:72px;" class="img-circle img-responsive"></a>
                  <div class="author-info-content">
                    <h6 class="author-name">{{value.Autor}}</h6>
                    <time class="small">{{value.Fecha | date: 'dd-MM-yyyy'}}</time>
                  </div>
                </footer>
              </div>
              <div class="col-md-9 sep-top-xs">
                <header>
                  <h3 itemprop="headline" class="post-title"><a href="blog-detail.html" rel="bookmark" title="link to this post" itemprop="url" class="dark">{{value.Titulo}}</a></h3>
                  <time datetime="2009-10-22T14:28-08:00" itemprop="datePublished"></time>
                </header>
               
                
                <div class="post-image sep-top-md"><a title="" href="#"><img alt="" src="img/afiche1.jpg" itemprop="thumbnailUrl" class="img-responsive"></a></div>
                <div itemprop="articleBody" class="post-text sep-top-md">
                 <p style="color:black"><div class="lead" ng-bind-html="value.Contenido"></p>
                  
                </div>
                <div class="post-more sep-top-md"><button class="btn btn-primary" ui-sref="home.verNoticia({id:value._id})"> Ver Más</button></div>
              </div>
            
                    
        
                    </div>
          </article>
                </li>
            
            
            </ul>
           
        </div>
      </div>
