


  <div id="load"></div><!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page">
      <!-- Start Nav Section-->
      <nav id="main-navigation" role="navigation" class="navbar navbar-fixed-top navbar-standard"><a href="javascript:void(0)" class="search_button"></a>
        <form action="search.html" method="get" role="search" class="h_search_form">
          <div class="container">
            <div class="h_search_form_wrapper">
              <div class="input-group"><span class="input-group-btn">
                  <button type="submit" class="btn btn-sm"></button></span>
                <input type="text" placeholder="BUSCAR EN ESTE SITIO" class="form-control">
              </div>
              <div class="h_search_close"><a href="#"></a></div>
            </div>
          </div>
        </form>
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle"><i class="fa fa-align-justify fa-lg"></i></button><a href="#" class="navbar-brand"><img src="img/logo.png" alt="" class="logo-white"><img src="img/logo1.png" alt="" class="logo-dark"></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right service-nav">
              <li><a id="dropdownMenuLogin" ui-sref="admin" data-toggle="dropdown" class="upper dropdown-toggle">Login</a>
                <div aria-labelledby="dropdownMenuLogin" class="dropdown-menu widget-box">
                  <form>
                    <div class="form-group">
                      <label class="sr-only">Usuario</label>
                      <input type="text" value="" placeholder="Username or Email" name="" class="form-control input-lg">
                    </div>
                    <div class="form-group">
                      <label class="sr-only">Contraseña</label>
                      <input type="password" value="" placeholder="Password" name="" class="form-control input-lg">
                    </div>
                    <div class="form-inline form-group">
                      <button type="button" class="btn btn-primary btn-xs">INICIAR SESIÓN</button>
                      <div class="checkbox">
                       <!--> <label>
                          <input type="checkbox"><small> Remember me</small>
                        </label>-->
                      </div>
                    </div><a href="#"><small>¿Olvidó su contraseña?</small></a>
                  </form>
                </div>
              </li>
              
            </ul>
            <button type="button" class="navbar-toggle"><i class="fa fa-close fa-lg"></i></button>
            <ul class="nav yamm navbar-nav navbar-left main-nav">
                    <!-- istanzio un id univoco-->
                    <li class="dropdown"><a href="#" title="Home" data-toggle="dropdown" data-hover="dropdown" id="menu_item_Home" data-ref="#" class="dropdown-toggle">INICIO<span class="caret"></span></a>
                      
                    </li>
                    <!-- istanzio un id univoco-->
                <li class="dropdown"><a href="#" title="Home" data-toggle="dropdown" data-hover="dropdown" id="menu_item_Home" data-ref="#" class="dropdown-toggle">ACERCA DE NOSOTROS<span class="caret"></span></a>
                      
                    </li>
                <li class="dropdown"><a href="#" title="Home" data-toggle="dropdown" data-hover="dropdown" id="menu_item_Home" data-ref="#" class="dropdown-toggle">SERVICIOS<span class="caret"></span></a>
                      
                    </li>
                    <li class="dropdown"><a href="#" title="Portfolio" data-toggle="dropdown" data-hover="dropdown" id="menu_item_Portfolio" data-ref="#" class="dropdown-toggle">GALERIA<span class="caret"></span></a>
                      <ul aria-labelledby="menu_item_Portfolio" class="dropdown-menu">
                          <li><a href="portfolio-3.html" title="Masonry" data-ref="portfolio">GALERIA</a></li>
                             <li><a href="#" title="Masonry" data-ref="portfolio">VIDEOS</a></li>
                            
                      </ul>
                    </li>
                    <!-- istanzio un id univoco-->
                    <li class="dropdown"><a href="#" title="Shop" data-toggle="dropdown" data-hover="dropdown" id="menu_item_Shop" data-ref="#" class="dropdown-toggle">NOTICIAS<span class="caret"></span></a>
                            <ul aria-labelledby="menu_item_Shop" class="dropdown-menu">
                              <li><a href="blog-detail.html" title="Masonry" data-ref="portfolio">NOTICIAS</a></li>
                                <li><a href="#" title="Masonry" data-ref="portfolio">CALENDARIO</a></li>
                                <li><a href="#" title="Masonry" data-ref="portfolio">CONVOCATORIAS</a></li>
                                
                            </ul>
                    </li>
                    <!-- istanzio un id univoco-->
                    
                    
                    <!-- istanzio un id univoco-->
                    <li class="dropdown"><a href="features-grid.html" title="Features" data-toggle="dropdown" data-hover="dropdown" id="menu_item_features-grid" data-ref="features-grid" class="dropdown-toggle">HERRAMIENTAS<span class="caret"></span></a>
                      <ul aria-labelledby="menu_item_features-grid" class="dropdown-menu">
                            
                              <!-- istanzio un id univoco-->
                              <li><a href="features-typography.html" title="Typography" data-ref="features-typography">Letras</a></li>
                              <!-- istanzio un id univoco-->
                              <li><a href="features-buttons.html" title="Buttons" data-ref="features-buttons">Botones</a></li>
                              <!-- istanzio un id univoco-->
                             
                      </ul>
                    </li>
                    <!-- istanzio un id univoco-->
                    <li><a href="contact-us-3.html" title="ContactOS" id="menu_item_Contactus" data-ref="contact-us-3.html" >CONTACTOS<span class="caret"></span></a>
                     
                    </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Start Header Section-->
      <section class="header-section fading-title">
        <div id="video-background-1" style="position:relative" class="video-background-content">
          <div style="background-image:url(img/video.jpg)" class="video-background-poster filler parallax"></div>
          <div class="background-video filler hidden-phone">
            <video autoplay="autoplay" loop="loop" muted="muted" width="640" height="360" style="position:absolute;">
              <source src="img/9033104.mp4" type="video/mp4">
              <source src="img/9033104.webm" type="video/webm">
            </video>
          </div>
          <div class="section-shade sep-top-5x sep-bottom-5x">
            <div class="container">
              <div class="section-title upper light text-center">
                <h3 class="small-space">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GOBIERNO AUTÓNOMO MUNICIPAL DE CHIMORE</span></h3>
                <p class="lead"></p>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Header Section-->
      
      <section class="demo-2">
        <!-- Start slider-wrapper-->
        <div id="slider" style="display:none;" class="sl-slider-wrapper">
          <div class="sl-slider">
            <!-- start slide-->
            <div data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1" class="sl-slide">
              <div style="background: url(img/S10.jpg);" class="sl-slide-inner">
                <div class="slide-container">
                  <div class="slide-content text-center">
                    <h2 class="main-title">2015 &nbsp;<span class="text-primary">CHIMORE</span></h2>
                    
                  </div>
                </div>
              </div>
            </div>
            <!-- end slide-->
            <!-- start slide-->
            <div data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2" class="sl-slide">
              <div style="background: url(img/S12.jpg);" class="sl-slide-inner">
                <div class="slide-container">
                  <div class="slide-content text-center">
                    <h2 class="main-title">2015 &nbsp;<span class="text-primary">CHIMORE</span></h2>
                    
                  </div>
                </div>
              </div>
            </div>
            <!-- end slide-->
            <!-- start slide-->
            <div data-orientation="horizontal" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5" class="sl-slide">
              <div style="background: url(img/S7.jpg);" class="sl-slide-inner">
                <div class="slide-container">
                  <div class="slide-content text-center">
                    <h2 class="main-title">2015 &nbsp;<span class="text-primary">CHIMORE</span></h2>
                    
                  </div>
                </div>
              </div>
            </div>
            <!-- end slide-->
          </div>
          <!-- start slider navigation-->
          <nav id="nav-arrows" class="nav-arrows"><span class="nav-arrow-prev">Previous</span><span class="nav-arrow-next">Next</span></nav>
          <nav id="nav-dots" class="nav-dots"><span class="nav-dot-current"></span><span></span><span></span></nav>
          <!-- end slider navigation-->
        </div>
        <!-- End slider-wrapper-->
      </section>