
      <section>
        <div class="container">
          <div class="row sep-bottom-2x">
            <div class="col-md-9">
              <article id="post-0" itemscope itemtype="http://schema.org/BlogPosting" class="sep-top-lg">
                <div class="row">
                  <div role="contentinfo" class="col-md-3 sep-top-xs">
                    <footer class="author-info"><a href="#" itemprop="author" class="post-author-link"><img src="img/team/square/1.jpg" alt="Marc Crow" style="width:72px; height:72px;" class="img-circle img-responsive"></a>
                      <div class="author-info-content">
                        <h6 class="author-name">Publicado</h6>
                        <time datetime="2014-06-17T14:28-08:00" itemprop="datePublished" class="small">Noviembre 11 2015</time>
                      </div>
                    </footer>
                  </div>
                  <div class="col-md-9 sep-top-xs">
                    <header>
                      <h3 itemprop="headline" class="post-title"><a href="blog-detail.html" rel="bookmark" title="link to this post" itemprop="url" class="dark">Feria Piscícola Chimoré 2015</a></h3>
                      <time datetime="2009-10-22T14:28-08:00" itemprop="datePublished"></time>
                    </header>
                    <p class="lead">7MA FERIA PISCÍCOLA CHIMORÉ 2015 
03 Y 04 DE ABRIL EN LA PLAZA PRINCIPAL DE CHIMORÉ</p>
                    
                    <div class="post-image sep-top-md"><a title="" href="#"><img alt="" src="img/afiche1.jpg" itemprop="thumbnailUrl" class="img-responsive"></a></div>
                    <div itemprop="articleBody" class="post-text sep-top-md">
                      <p>
                        Autor :  Comunicacion <br>
Fecha de Publicación : 2015-03-17<br>
7MA FERIA PISCÍCOLA CHIMORÉ 2015 
03 Y 04 DE ABRIL EN LA PLAZA PRINCIPAL DE CHIMORÉ 
                      </p>
                     
                    </div>
                    <div class="post-more sep-top-md"><a href="blog-detail.html" rel="bookmark" title="link to this post" class="btn btn-primary btn-large">Leer Mas</a></div>
                  </div>
                </div>
              </article>
              <article id="post-1" itemscope itemtype="http://schema.org/BlogPosting" class="sep-top-lg">
                <div class="row">
                  <div role="contentinfo" class="col-md-3 sep-top-xs">
                    <footer class="author-info"><a href="#" itemprop="author" class="post-author-link"><img src="img/team/square/1.jpg" alt="Scott Sanchez" style="width:72px; height:72px;" class="img-circle img-responsive"></a>
                      <div class="author-info-content">
                        <h6 class="author-name">Publicado</h6>
                        <time datetime="2014-06-17T14:28-08:00" itemprop="datePublished" class="small">Noviembre 07, 2015</time>
                      </div>
                    </footer>
                  </div>
                  <div class="col-md-9 sep-top-xs">
                    <header>
                      <h3 itemprop="headline" class="post-title"><a href="blog-detail.html" rel="bookmark" title="link to this post" itemprop="url" class="dark">ENTREGA DE UREA Y HERRAMIENTAS AL MUNICIPIO DE CHIMORE</a></h3>
                      <time datetime="2009-10-22T14:28-08:00" itemprop="datePublished"></time>
                    </header>
                    <p class="lead">Se entregaron materiales</p>
                    
                    <div class="post-image sep-top-md"><a title="" href="#"><img alt="" src="img/afiche2.jpg" itemprop="thumbnailUrl" class="img-responsive"></a></div>
                    <div itemprop="articleBody" class="post-text sep-top-md">
                      <p>
                        Entrega de materiales a diferntes lugares del tropico d cochabamba
                      </p>
                      
                    </div>
                    <div class="post-more sep-top-md"><a href="blog-detail.html" rel="bookmark" title="link to this post" class="btn btn-primary btn-large">Leer Mas</a></div>
                  </div>
                </div>
              </article>
              
              <!-- start pagination-->
              <div class="sep-top-2x">
                <!-- start pagination-->
                <ul class="pager">
                  <li class="previous hidden-xs"><a href="#">Atras</a></li>
                  <li><a href="#">1</a></li>
                  <li><span class="current">2</span></li>
                  <li><a href="#">3</a></li>
                  <li class="next disabled hidden-xs"><a href="#">Adelante</a></li>
                </ul>
                <!-- end pagination-->
              </div>
              <!-- end pagination-->
            </div>
            <aside id="sidebar" role="complementary" class="col-md-3 sep-top-lg sidebar">
              <!-- start sidebar-->
              <h5 class="widget-title upper sep-bottom-xs">Convocatorias</h5>
              <ul class="widget widget-media rounded sep-bottom-lg">
                <li class="media media-bordered clearfix"><a href="#" class="pull-left"><img src="img/afiche1.jpg" alt="" class="media-object img-circle"></a>
                  <div class="media-body">
                    <h6 class="media-heading"><a href="#">Campeonato de Colegios de Chimore</a></h6><small>Noviembre 28, 2015</small>
                  </div>
                </li>
                <li class="media media-bordered clearfix"><a href="#" class="pull-left"><img src="img/afiche2.jpg" alt="" class="media-object img-circle"></a>
                  <div class="media-body">
                    <h6 class="media-heading"><a href="#">Concurso de bandas colegiales</a></h6><small>Diciembre 10, 2015</small>
                  </div>
                </li>
                <li class="media media-bordered clearfix"><a href="#" class="pull-left"><img src="img/S9.jpg" alt="" class="media-object img-circle"></a>
                  <div class="media-body">
                    <h6 class="media-heading"><a href="#">Actividades para el aniversario de Chimore</a></h6><small>Enero 12, 2016</small>
                  </div>
                </li>
                <li class="media media-bordered clearfix"><a href="#" class="pull-left"><img src="img/S10.jpg" alt="" class="media-object img-circle"></a>
                  <div class="media-body">
                    <h6 class="media-heading"><a href="#">Convocatorias varios</a></h6><small>Noviembre 28, 2015</small>
                  </div>
                </li>
              </ul>
              <h5 class="widget-title upper sep-bottom-xs">Archivos Adjuntos</h5>
              <ul class="widget widget-cat">
                <li class="cat-item"><a href="#" class="upper">Descargar Programa de la feria Piscicola</a></li>
                <li class="cat-item"><a href="#" class="upper">Descargar programa Expotropico</a></li>
                <li class="cat-item"><a href="#" class="upper">Descargar programa de Aniversario Chimore</a></li>
                
              </ul>
              <!-- end sidebar-->
            </aside>
          </div>
        </div>
      </section>
      <!-- Start Parallax section-->
      <section id="parallax2" style="background-image: url(img/s7.jpg);" class="parallax">
        <div class="section-shade sep-top-2x sep-bottom-2x">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <div data-navitagion="false" data-slide-speed="300" data-pagination-speed="400" data-single-item="true" data-auto-height="true" data-auto-play="true" class="owl-carousel owl-theme pagination-light">
                  <!-- Start Twitter element-->
                  <!--<div class="item">
                    <div class="twitter-post"><i class="fa fa-twitter fa-4x primary"></i>
                      <div class="sep-top-xs"><a href="#"><img src="img/team/square/5.jpg" alt="Anna Larkins" width="113" height="113" class="img-circle user-thumb"></a>
                        <h5 class="light">Anna Larkins</h5>
                        <div class="post">
                          <p class="lead light"><a href="#" class="primary">Ottavio</a> is the most comprehensive and versatile theme I've ever used. #themeoftheyear
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="twitter-post"><i class="fa fa-twitter fa-4x primary"></i>
                      <div class="sep-top-xs"><a href="#"><img src="img/team/square/4.jpg" alt="Michelle White" width="113" height="113" class="img-circle user-thumb"></a>
                        <h5 class="light">Michelle White</h5>
                        <div class="post">
                          <p class="lead light"><a href="#" class="primary">Ottavio</a> stand out among modern themes! I warmly recommend it to everyone. #ottavio #multi-purpose #template
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="twitter-post"><i class="fa fa-twitter fa-4x primary"></i>
                      <div class="sep-top-xs"><a href="#"><img src="img/team/square/1.jpg" alt="Marc Crow" width="113" height="113" class="img-circle user-thumb"></a>
                        <h5 class="light">s</h5>
                        <div class="post">
                          <p class="lead light">Few times I've stumbled upon a theme as complete, elegant and well-thought as <a href="#" class="primary">Ottavio</a>. #html #web-design
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
-->
                  <!-- End Twitter element-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Parallax section-->