<section class="sep-top-2x sep-bottom-2x">
        <div class="container">
          <div class="row">
            <div class="col-md-6 sep-bottom-md">
              <div data-device="macbook" data-orientation="landscape" data-color="black" class="device-mockup">
                <div class="device">
                  <div class="screen"><img src="img/galeria/afiche5.jpg" alt="" width="600" height="400" class="img-responsive" STYLE="border-radius:10px; box-shadow:5px 2px 10px"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6" >
              <div class="icon-box icon-xs sep-bottom-xs">
                <div class="icon-content img-circle"><i class="fa fa-random"></i></div>
                <div class="icon-box-content">
                  <h5>MISIÓN</h5>
                  <p style="text-align:justify">
                   El Gobierno Municipal de Entre Rios  debe estar al servicio del pueblo, cuya función básica es el bienestar de sus habitantes, nuestra misión principal es el de brindar servicios con eficiencia, calidad, calidez y participación, impulsando a formar también en sus habitantes una actitud y conducta respetuosa con la naturaleza para preservar el medio ambiente de nuestro Municipio: Lograr un Municipio con Desarrollo Humano Integral, Transparente con Participación Social, Preservando Nuestro Patrimonio Natural.
                  </p>
                </div>
              </div>
              <div class="icon-box icon-xs sep-bottom-xs">
                <div class="icon-content img-circle"><i class="fa fa-random"></i></div>
                <div class="icon-box-content">
                  <h5>VISIÓN</h5>
                  <p style="text-align:justify">
                    El Gobierno Municipal tiene como propósito construir un Municipio con carácter social y sostenible para nuestra Llajta: Por una Ciudad Segura, Solidaria, de Servicios Eficientes y Democrática.
                  </p>
                </div>
              </div>
              <div class="icon-box icon-xs">
                <div class="icon-content img-circle"><i class="fa fa-random"></i></div>
                <div class="icon-box-content">
                  <h5>ACERCA DEL MUNICIPIO</h5>
                  <p style="text-align:justify">
                   El presidente del Estado plurinacional, Evo Morales, entregó este martes un Coliseo Municipal en el municipio de Entre Ríos, provincia Carrasco del departamento  Cochabamba, que beneficiará a más de 40.550 personas de los cinco distritos con lo conforman.

El Coliseo Cerrado Municipal de Entre Ríos fue construido dentro del programa “Bolivia Cambia, Evo Cumple” con una inversión de Bs 5.775.230  (millones) en una superficie de 1.900 m2.

El Alcalde del municipio  de Entre Ríos, Aurelio Rojas, manifestó su agradecimiento por la nueva obra que fue entregada por el Mandatario.

Rojas aseguró que esta obra de impacto para Entre Ríos, facilitará el desarrollo del deporte, así como de actividades culturales y sociales que se desarrollan en el lugar y en los distritos vecinos.

La autoridad Edil también destacó el impulso que ha brindado el Gobierno del Estado Plurinacional que a diferencia de otros gobiernos neoliberales se acordó de esta zona tropical, y donde será construida la primera planta petroquímica en el país que producirá amoniaco-urea, en el Distrito de Bulo Bulo.

“Esta planta generará no sólo empleos directos, sino también empleos indirectos para el resto de la población rural  de la provincia Carrasco”, dijo.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>