body{
    
    background: url(../img/bg.jpg) scroll 100%;
    
}

.modal-footer {   border-top: 0px;
}
#modal{position:relative;background-color:transparent;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)}